<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Business Analytics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigations-08" aria-controls="navigations-08" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navigations-08">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link active" href="#">Features<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#">Enterprise</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ICO</a>
                <div class="dropdown-menu"><a class="dropdown-item" href="#">Whitepaper</a><a class="dropdown-item" href="#">Token</a></div>
            </li>
        </ul>
        <a class="btn btn-outline-primary mt-2 mt-md-0 ml-lg-3" href="#">Sign up</a>
    </div>
</nav>